<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed{
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
    <head>
        <!-- Vue -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Firebase -->
        <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
        <!-- VueFire -->
        <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    </head>
</head>
<body>

    <div id="app">
        <h1>{{title}}</h1>
        <!-- 목록 선택 -->
        <select v-model="status">
            <option value="all">전체보기</option>
            <option value="active">할일</option>
            <option value="completed">한일</option>
        </select>

        <!-- todo추가 -->
        <!-- 엔터키가 눌렸을 때 addTodo실행 -->
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">

        <!-- 클래스는 이렇게 적어야 됨. completed가 true이면 작동, false이면 작동안함 -->
        <!-- v-bind:key 를 통해 체크박스 오류 해결-->
        <li v-for="todo in todosByStatus()" v-bind:class="{completed: todo.completed}" v-bind:key="todo.id">
            <!-- 체크박스 & 양방향 바인딩 -->
            <!-- v-model에 의해 completed값이 true인 애들은 체크박스에 체크된 상태로 나옴 -->
            <input type="checkbox" v-model="todo.completed" @change="updateTodo(todo)">
            {{todo.content}}
            <button v-if="todo.completed" @click="delTodo(todo)">삭제</button>
        </li>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    -->
    <script>
        // 서비스를 사용하겠다라고 선언?만 한것
        var config = {
            apiKey: "AIzaSyCpbL7Hh6I26gC4DYU0p87t_SECP1kpk8Y",
            databaseURL: "https://my-todo-cc559.firebaseio.com",
            projectId: "my-todo-cc559",
        };
        firebase.initializeApp(config);

        const database = firebase.database()

        const app = new Vue({
            el:"#app",
            data:{
                title:"MyTodo",
                newTodo:'',
                status:'all',
            },
            firebase:{
                todos:database.ref('todos')
            },
            methods:{
                addTodo:function(){
                    // firebase로 연결된 reference에다가 push
                    this.$firebaseRefs.todos.push(
                        {id:Date.now(),content:this.newTodo,complete:false}
                    )
                    this.newTodo = ''
                },
                delTodo:function(todo){
                    this.$firebaseRefs.todos.child(todo['.key']).remove()
                },
                todosByStatus:function(){
                    if(this.status == "active"){
                        return this.todos.filter((todo)=>{
                            return !todo.completed
                        })
                    } else if(this.status == "completed"){
                        // true값인 배열의 결과를 리턴
                        return this.todos.filter((todo)=>{
                            return todo.completed
                        })
                    } else{
                        return this.todos
                    }
                },
                updateTodo:function(todo){
                    // 열거형 표현법
                    const editTodo = {...todo}
                    // .key라는 정보를 지움
                    delete editTodo['.key']
                    // 새로 붙이기
                    this.$firebaseRefs.todos.child(todo['.key']).set(editTodo)
                },
            },
            watch:{
                // todos에 변화가 일어나면 todoStorage.save 실행
                todos:{
                    handler:function(todos){
                       todoStorage.save(todos)
                    },
                    // todos자체(전체)가 변하는걸 바라보고 있던걸, completed가 변화하고 있는걸 감지해서 실행하겠다라는 의미
                    deep:true
                }
            }
        })
    </script>

</body>
</html>
